<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leesure.dao.mybatis.ShopDetailMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.leesure.dao.entity.ShopDetail">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="desc" property="desc"/>
        <result column="rate" property="rate"/>
        <result column="is_excellent" property="isExcellent"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
    </resultMap>

    <resultMap id="ShopInfoResultMap" type="com.leesure.dao.entity.ShopInfo">
        <result column="id" property="shopId"/>
        <result column="title" property="shopTitle"/>
        <result column="desc" property="shopIntroduce"/>
        <result column="rate" property="rate"/>
        <result column="phone" property="phone"/>
        <result column="shop_email" property="shopEmail"/>
        <result column="address" property="shopAddress"/>
    </resultMap>
    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `title`,
        `desc`,
        `rate`,
        `is_excellent`,
        `phone`,
        `address`
    </sql>

    <select id="selectOne" resultMap="AllColumnMap">
        SELECT * FROM  shop_detail WHERE id=#{shopId}
    </select>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO shop_detail (
            `id`,
            `title`,
            `desc`,
            `rate`,
            `is_excellent`,
            `phone`,
            `address`
        ) VALUES (
            #{pojo.id},
            #{pojo.title},
            #{pojo.desc},
            #{pojo.rate},
            #{pojo.isExcellent},
            #{pojo.phone},
            #{pojo.address}
        )
    </insert>

    <!-- create by lee -->
    <insert id="insertShopInfo">
        insert into shop_detail(
        `id`,
        `title`,
        `desc`,
        `rate`,
        `address`
        )VALUES (
          #{shopInfo.shopId},
          #{shopInfo.shopTitle},
          #{shopInfo.shopIntroduce},
          #{shopInfo.rate},
          #{shopInfo.shopAddress}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO shop_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.title!=null"> `title`,</if>
            <if test="pojo.desc!=null"> `desc`,</if>
            <if test="pojo.rate!=null"> `rate`,</if>
            <if test="pojo.isExcellent!=null"> `is_excellent`,</if>
            <if test="pojo.phone!=null"> `phone`,</if>
            <if test="pojo.address!=null"> `address`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.title!=null">#{pojo.title},</if>
            <if test="pojo.desc!=null">#{pojo.desc},</if>
            <if test="pojo.rate!=null">#{pojo.rate},</if>
            <if test="pojo.isExcellent!=null">#{pojo.isExcellent},</if>
            <if test="pojo.phone!=null">#{pojo.phone},</if>
            <if test="pojo.address!=null">#{pojo.address},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO shop_detail (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.title},
            #{pojo.desc},
            #{pojo.rate},
            #{pojo.isExcellent},
            #{pojo.phone},
            #{pojo.address}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE shop_detail
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.title != null"> `title` = #{pojo.title}, </if>
            <if test="pojo.desc != null"> `desc` = #{pojo.desc}, </if>
            <if test="pojo.rate != null"> `rate` = #{pojo.rate}, </if>
            <if test="pojo.isExcellent != null"> `is_excellent` = #{pojo.isExcellent}, </if>
            <if test="pojo.phone != null"> `phone` = #{pojo.phone}, </if>
            <if test="pojo.address != null"> `address` = #{pojo.address} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <!--created by lee-->
    <update id="updateShopInfo">
        UPDATE shop_detail
        <set>
            <if test="shopInfo.rate !=null">`rate` = #{shopInfo.rate},</if>
            <if test="shopInfo.shopTitle !=null">`title` = #{shopInfo.shopTitle} ,</if>
            <if test="shopInfo.shopIntroduce !=null"> `desc` = #{shopInfo.shopIntroduce},</if>
            <if test="shopInfo.shopAddress !=null">`address` = #{shopInfo.shopAddress},</if>
            <if test="shopInfo.phone !=null">`phone` = #{shopInfo.phone}, </if>
            <if test="shopInfo.shopEmail!=null">`shop_email`=#{shopInfo.shopEmail}</if>
        </set>
        WHERE  id=#{shopInfo.shopId}
    </update>


    <select id="selectAllShopInfo" resultMap="ShopInfoResultMap">
        SELECT * FROM shop_detail
    </select>

    <select id="selectShopInfoByConditions" resultMap="ShopInfoResultMap">
        SELECT * FROM shop_detail WHERE
        <foreach collection="java.util.Map" item="item" open="" close="and">
            ${item.key} = #{item.value}
        </foreach>
    </select>

    <select id="selectShopInfoByAddress" resultMap="ShopInfoResultMap">
        SELECT * FROM shop_detail
        WHERE address LIKE #{address} OR
        title LIKE #{name} OR shop_detail.desc LIKE #{name}
    </select>
</mapper>

